body {
    font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은고딕', sans-serif;
    margin: 0;
    padding: 0px;
}

.header-title {
    background-color: #020202;
    color: white;
    height: 10vw;
    text-align: center;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-title a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 7.2vw;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: visible;
    background-color: #505050;
    position: sticky;
    top: 0px;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #f1f1f1;
    text-decoration: none;
    display: inline-block;
}


li a,
.dropbtn {
    display: inline-block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #600000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a {
    color: #020202;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
